// =========================================================
// * Video Embedded
// =========================================================
.embedded-video-outer {
    position: relative;
    padding-bottom: 57%;
    margin: 0 -12px;
}

.embedded-video-outer iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 992px) {
    .embedded-video-outer {
        padding-bottom: 0;
        height: 100%;
        position: absolute;
        left: 0;
        width: 50%;
    }
}