// =========================================================
// * Header Component
// =========================================================
.header {
    top: 0;
    z-index: 999;
}

.header-top-part {
    background-color: $white;

    h6 {
        padding: 0;
        margin: 0;
    }
}

.sub-navigation {
    display: flex;
    padding: 0;
    margin: 0;

    li+li {
        margin-left: 28px;
    }

    li {
        a {
            text-decoration: none;
            font-size: 13px;
            line-height: 18px;
        }
    }
}