<!-- Start Header -->
<header class="header position-sticky">
  <!-- Start Header Top Part -->
  <div class="header-top-part py-2 d-none d-lg-block">
    <div class="container-xxl">
      <div
        class="row align-items-center justify-content-center justify-content-lg-between"
      >
        <div class="col-auto">
          <ul class="sub-navigation">
            <li><a href="#" title="Guides">Terms</a></li>
          </ul>
        </div>
        <div class="col position-relative overflow-hidden d-flex justify-content-center">
          <h6>
            See latest <a href="#" title="Discounts">Discounts</a> - Up to 40%OFF
          </h6>
        </div>
        <div class="col-auto">
          <ul class="sub-navigation justify-content-end">
            <li>
              <a href="/sign-in.html" title="Login / Register">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Top Part -->
  <!-- Start Navbar Part -->
  <nav class="navbar navbar-expand-lg p-0">
    <div class="container-xxl">
      <a class="navbar-brand" href="/" title="Fashion Template by AppSeed"
        ><img src="assets/img/logo.svg" alt="Fashion Template by AppSeed"
      /></a>

      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-header primary-gradient py-2">
          <a class="navbar-brand" href="#" title="Fashion Template by AppSeed"
            ><img src="assets/img/logo.svg" alt="Fashion Template by AppSeed"
          /></a>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body p-0 ms-lg-auto">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <span class="badge rounded-pill bg-danger"> 20% </span>
              <a
                class="nav-link active"
                aria-current="page"
                href="collection.html"
                title="Men"
                >Men</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="collection.html" title="Women">Women</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="collection.html" title="Kids">Kids</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="Customise">Customise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="Sale">Sale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" title="Shipping">Shipping</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link" href="#" title="Guides">Guides</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link" href="#" title="Terms of Sale"
                >Terms of Sale</a
              >
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link" href="#" title="Terms of Use">Terms of Use</a>
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link" href="#" title="Privacy & Policy"
                >Privacy & Policy</a
              >
            </li>
            <li class="nav-item d-lg-none">
              <a class="nav-link" href="#" title="Login / Register"
                >Login / Register</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex">
        <button class="btn btn-transparent">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.58342 1.66675C13.9584 1.66675 17.5001 5.20842 17.5001 9.58342C17.5001 13.9584 13.9584 17.5001 9.58342 17.5001C5.20842 17.5001 1.66675 13.9584 1.66675 9.58342C1.66675 6.50008 3.42508 3.83341 6.00008 2.52508"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M18.3334 18.3334L16.6667 16.6667"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button class="btn btn-transparent">
          <svg
            width="24"
            height="20"
            viewBox="0 0 24 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.5 6.39167V5.58334C7.5 3.70834 9.31 1.86667 11.56 1.69167C14.24 1.47501 16.5 3.23334 16.5 5.42501V6.57501"
              stroke="white"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M3.81007 13.8001L4.04007 15.3584C4.26007 16.9917 4.98007 18.3334 9.00007 18.3334H15.0001C19.0201 18.3334 19.7401 16.9917 19.9501 15.3584L20.7001 10.3584C20.9701 8.32508 20.2701 6.66675 16.0001 6.66675H8.00007C3.73007 6.66675 3.03007 8.32508 3.30007 10.3584"
              stroke="white"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.4955 9.99992H15.5045"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8.49451 9.99992H8.50349"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </nav>
  <!-- End Navbar Part -->
</header>
<!-- End Header -->
