        <!-- Start Review-->
        <section class="review-section">
            <div class="container-xxl px-lg-5 position-relative">
              <div class="review-section-title-outer">
                <h2
                  class="review-section-title position-relative d-flex justify-content-end"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <span
                    class="text-generator text-uppercase position-relative text-right"
                    >Style is a way to say who you are without having to
                    speak</span
                  >
                </h2>
              </div>
              <div class="row gx-lg-5">
                <div class="col-lg">
                  <div class="slider-outer">
                    <div class="swiper vertical-slider mt-4 mt-lg-0">
                      <div
                        class="swiper-wrapper"
                        data-aos="zoom-up"
                        data-aos-delay="200"
                      >
                        <div class="swiper-slide">
                          <div
                            class="title text-uppercase"
                            data-swiper-parallax="-100"
                          >
                            client name
                          </div>
  
                          <div
                            class="product-rating d-flex"
                            data-swiper-parallax="-200"
                          >
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                          </div>
  
                          <div class="comment" data-swiper-parallax="-300">
                            <img
                              class="invertedcomma d-block"
                              src="assets/img/ic-invertedcomma.svg"
                              alt=""
                            />
                            <p>
                              Lorem ipsum dolor sit amet consectetur. A hendrerit
                              nunc ut eget interdum felis dis mattis vestibulum.
                              Maecenas mattis ornare nunc non. Sed aliquam auctor
                              accumsan cras felis mauris velit turpis. Tellus nunc
                              dui ullamcorper lacinia amet.
                            </p>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div
                            class="title text-uppercase"
                            data-swiper-parallax="-100"
                          >
                            client name
                          </div>
  
                          <div
                            class="product-rating d-flex"
                            data-swiper-parallax="-200"
                          >
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                          </div>
  
                          <div class="comment" data-swiper-parallax="-300">
                            <img
                              class="invertedcomma d-block"
                              src="assets/img/ic-invertedcomma.svg"
                              alt=""
                            />
                            <p>
                              Lorem ipsum dolor sit amet consectetur. A hendrerit
                              nunc ut eget interdum felis dis mattis vestibulum.
                              Maecenas mattis ornare nunc non. Sed aliquam auctor
                              accumsan cras felis mauris velit turpis. Tellus nunc
                              dui ullamcorper lacinia amet.
                            </p>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div
                            class="title text-uppercase"
                            data-swiper-parallax="-100"
                          >
                            client name
                          </div>
  
                          <div
                            class="product-rating d-flex"
                            data-swiper-parallax="-200"
                          >
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                          </div>
  
                          <div class="comment" data-swiper-parallax="-300">
                            <img
                              class="invertedcomma d-block"
                              src="assets/img/ic-invertedcomma.svg"
                              alt=""
                            />
                            <p>
                              Lorem ipsum dolor sit amet consectetur. A hendrerit
                              nunc ut eget interdum felis dis mattis vestibulum.
                              Maecenas mattis ornare nunc non. Sed aliquam auctor
                              accumsan cras felis mauris velit turpis. Tellus nunc
                              dui ullamcorper lacinia amet.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-pagination"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg">
                  <figure
                    class="figure d-block review-figure position-relative mb-0 mt-4 mt-lg-0"
                    data-aos="zoom-in-down"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                  >
                    <img
                      class="figure-img img-fluid d-block mx-auto mb-0"
                      src="assets/img/reivew-img.jpg"
                      alt=""
                    />
                  </figure>
                </div>
              </div>
            </div>
          </section>
          <!--  End Review-->
          