<!-- Start main Banner -->
<section class="main-banner position-relative">
  <h2 class="banner-border-text" data-aos="zoom-in-up">THE NEW 2023</h2>
  <h1 class="banner-title" data-aos="flip-up" data-aos-delay="500">
    AIR JORDAN
  </h1>
  <figure class="figure d-block main-banner-figure mb-0" data-aos="fade-up">
    <img
      class="figure-img img-fluid d-block mx-auto mb-0"
      src="assets/img/banner-img-lg.png"
      alt=""
    />
  </figure>
  <p class="banner-text" data-aos="fade-up" data-aos-delay="200">
    We know how large objects will act,
  </p>
  <a
    href="product.html"
    class="btn btn-primary rounded-0 text-uppercase"
    data-aos="flip-left"
  >
    <span class="text-white">Shop now</span>
  </a>
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary rounded-circle text-uppercase modal-btn"
    data-bs-toggle="modal"
    data-bs-target="#video-modal"
    data-aos="flip-left"
  >
    <img src="assets/img/ic-play.svg" alt="" />
  </button>
</section>
<!-- End main Banner -->

<!-- Modal -->
<div class="modal fade" id="video-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-video-outer">
          <iframe
            id="video"
            src="https://www.youtube.com/embed/wWY_clozJlU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
