        <!-- Start Follow products on Instagram-->
        <section class="follow-instagram">
            <div class="container-xxl">
              <h2
                class="follow-instagram-title text-center text-generator"
                data-aos="fade-up"
              >
                Follow products on Instagram
              </h2>
              <div
                class="row row-cols-3 row-cols-md-6 row-cols-lg-6 row-cols-xl-6 row-cols-xxl-6 g-2"
              >
                <div class="col">
                  <a
                    href="#"
                    title="Instagram Post"
                    class="figure d-block follow-instagram-figure position-relative mb-0"
                    data-aos="zoom-in-down"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                  >
                    <img
                      class="figure-img img-fluid d-block mx-auto mb-0"
                      src="assets/img/follow-instagram-products-01.jpg"
                      alt=""
                    />
                    <span
                      class="follow-instagram-hover position-absolute d-flex align-content-center justify-content-center"
                      ><img src="assets/img/ic-instagram-w.svg" alt=""
                    /></span>
                  </a>
                </div>
                <div class="col">
                  <a
                    href="#"
                    title="Instagram Post"
                    class="figure d-block follow-instagram-figure position-relative mb-0"
                    data-aos="zoom-in-down"
                    data-aos-duration="1000"
                    data-aos-delay="400"
                  >
                    <img
                      class="figure-img img-fluid d-block mx-auto mb-0"
                      src="assets/img/follow-instagram-products-04.jpg"
                      alt=""
                    />
                    <span
                      class="follow-instagram-hover position-absolute d-flex align-content-center justify-content-center"
                      ><img src="assets/img/ic-instagram-w.svg" alt=""
                    /></span>
                  </a>
                </div>
                <div class="col">
                  <a
                    href="#"
                    title="Instagram Post"
                    class="figure d-block follow-instagram-figure position-relative mb-0"
                    data-aos="zoom-in-down"
                    data-aos-duration="1000"
                    data-aos-delay="600"
                  >
                    <img
                      class="figure-img img-fluid d-block mx-auto mb-0"
                      src="assets/img/follow-instagram-products-03.jpg"
                      alt=""
                    />
                    <span
                      class="follow-instagram-hover position-absolute d-flex align-content-center justify-content-center"
                      ><img src="assets/img/ic-instagram-w.svg" alt=""
                    /></span>
                  </a>
                </div>
                <div class="col">
                  <a
                    href="#"
                    title="Instagram Post"
                    class="figure d-block follow-instagram-figure position-relative mb-0"
                    data-aos="zoom-in-down"
                    data-aos-duration="1000"
                    data-aos-delay="800"
                  >
                    <img
                      class="figure-img img-fluid d-block mx-auto mb-0"
                      src="assets/img/follow-instagram-products-02.jpg"
                      alt=""
                    />
                    <span
                      class="follow-instagram-hover position-absolute d-flex align-content-center justify-content-center"
                      ><img src="assets/img/ic-instagram-w.svg" alt=""
                    /></span>
                  </a>
                </div>
                <div class="col">
                  <a
                    href="#"
                    title="Instagram Post"
                    class="figure d-block follow-instagram-figure position-relative mb-0"
                    data-aos="zoom-in-down"
                    data-aos-duration="1000"
                    data-aos-delay="1000"
                  >
                    <img
                      class="figure-img img-fluid d-block mx-auto mb-0"
                      src="assets/img/follow-instagram-products-05.jpg"
                      alt=""
                    />
                    <span
                      class="follow-instagram-hover position-absolute d-flex align-content-center justify-content-center"
                      ><img src="assets/img/ic-instagram-w.svg" alt=""
                    /></span>
                  </a>
                </div>
                <div class="col">
                  <a
                    href="#"
                    title="Instagram Post"
                    class="figure d-block follow-instagram-figure position-relative mb-0"
                    data-aos="zoom-in-down"
                    data-aos-duration="1000"
                    data-aos-delay="1200"
                  >
                    <img
                      class="figure-img img-fluid d-block mx-auto mb-0"
                      src="assets/img/follow-instagram-products-06.jpg"
                      alt=""
                    />
                    <span
                      class="follow-instagram-hover position-absolute d-flex align-content-center justify-content-center"
                      ><img src="assets/img/ic-instagram-w.svg" alt=""
                    /></span>
                  </a>
                </div>
              </div>
  
              <div class="newsletter text-center">
                <h4
                  class="newsletter-title text-capitalize text-generator"
                  data-aos="fade-up"
                >
                  Or subscribe to the newsletter
                </h4>
                <form
                  class="row g-3 justify-content-center"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <div class="col-auto">
                    <input
                      type="text"
                      class="form-control rounded-0"
                      placeholder="Email address..."
                    />
                  </div>
                  <div class="col-auto">
                    <button
                      type="submit"
                      class="btn submit-btn border-bottom rounded-0 mb-3"
                    >
                      SUBMIT
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </section>
          <!--  End Follow products on Instagram-->
          