<!-- Start Embedded Video Section -->
<section class="embedded-video-section position-relative">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-6">
        <div class="embedded-video-outer">
          <a href="#" title="Play" class="video-play-btn" id="video-play-btn">
            <span
              >Play <br />
              Video</span
            >
            <i></i>
          </a>
          <img src="../assets/img/video-img.jpg" alt="" class="video-img" />
          <a
            href="#"
            title="Close"
            class="video-close-btn"
            id="video-close-btn"
          >
            X
          </a>
          <iframe
            src="https://www.youtube.com/embed/wWY_clozJlU?enablejsapi=1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen=""
            id="video-player"
          ></iframe>
        </div>
      </div>
      <div class="col-lg-6 py-3 py-lg-5 ps-lg-5">
        <h3 class="text-generator" data-aos="fade-up">
          Open-Source eCommerce
        </h3>
        <p class="mb-0" data-aos="fade-up" data-aos-delay="200">
          Free design, actively supported and versioned by <strong>AppSeed</strong>.
          <br />
          For more templates, starters and support, access the <a target="_blank" href="https://appseed.us/">platform</a> that maintains the product. 
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Embedded Video Section -->
