        <!-- Start Explore more categories-->
        <section class="explore-categories">
            <div class="container-xxl">
              <h2
                class="explore-categories-title text-center text-generator"
                data-aos="fade-up"
              >
                Explore more categories
              </h2>
            </div>
            <div class="swiper auto-width-slider">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div
                  class="swiper-slide"
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                  data-aos-delay="200"
                >
                  <div class="explore-categories-card">
                    <img
                      class="explore-categories-card-img"
                      src="assets/img/categories-img-01.jpg"
                      alt=""
                    />
                    <a
                      class="categories-card-body position-relative d-block"
                      href="#"
                      title="Hoodies & Sweetshirt"
                    >
                      <span class="categories-card-body-title d-block"
                        >Hoodies & Sweetshirt</span
                      >
                      <span class="categories-card-body-text d-block"
                        >Explore Now!</span
                      >
                      <img
                        class="arrow-icon"
                        src="assets/img/arrow-right.svg"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
                <div
                  class="swiper-slide"
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                  data-aos-delay="400"
                >
                  <div class="explore-categories-card">
                    <img
                      class="explore-categories-card-img"
                      src="assets/img/categories-img-02.jpg"
                      alt=""
                    />
                    <a
                      class="categories-card-body position-relative d-block"
                      href="#"
                      title="Shoes & Sneakers"
                    >
                      <span class="categories-card-body-title d-block"
                        >Shoes & Sneakers</span
                      >
                      <span class="categories-card-body-text d-block"
                        >Explore Now!</span
                      >
                      <img
                        class="arrow-icon"
                        src="assets/img/arrow-right.svg"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
                <div
                  class="swiper-slide"
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                  data-aos-delay="600"
                >
                  <div class="explore-categories-card">
                    <img
                      class="explore-categories-card-img"
                      src="assets/img/categories-img-03.jpg"
                      alt=""
                    />
                    <a
                      class="categories-card-body position-relative d-block"
                      href="#"
                      title="Tees & T-Shirt"
                    >
                      <span class="categories-card-body-title d-block"
                        >Tees & T-Shirt</span
                      >
                      <span class="categories-card-body-text d-block"
                        >Explore Now!</span
                      >
                      <img
                        class="arrow-icon"
                        src="assets/img/arrow-right.svg"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
                <div
                  class="swiper-slide"
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                  data-aos-delay="800"
                >
                  <div class="explore-categories-card">
                    <img
                      class="explore-categories-card-img"
                      src="assets/img/categories-img-01.jpg"
                      alt=""
                    />
                    <a
                      class="categories-card-body position-relative d-block"
                      href="#"
                      title="Hoodies & Sweetshirt"
                    >
                      <span class="categories-card-body-title d-block"
                        >Hoodies & Sweetshirt</span
                      >
                      <span class="categories-card-body-text d-block"
                        >Explore Now!</span
                      >
                      <img
                        class="arrow-icon"
                        src="assets/img/arrow-right.svg"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
                <div
                  class="swiper-slide"
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                  data-aos-delay="1000"
                >
                  <div class="explore-categories-card">
                    <img
                      class="explore-categories-card-img"
                      src="assets/img/categories-img-02.jpg"
                      alt=""
                    />
                    <a
                      class="categories-card-body position-relative d-block"
                      href="#"
                      title="Shoes & Sneakers"
                    >
                      <span class="categories-card-body-title d-block"
                        >Shoes & Sneakers</span
                      >
                      <span class="categories-card-body-text d-block"
                        >Explore Now!</span
                      >
                      <img
                        class="arrow-icon"
                        src="assets/img/arrow-right.svg"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
                <div
                  class="swiper-slide"
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                >
                  <div class="explore-categories-card">
                    <img
                      class="explore-categories-card-img"
                      src="assets/img/categories-img-03.jpg"
                      alt=""
                    />
                    <a
                      class="categories-card-body position-relative d-block"
                      href="#"
                      title="Tees & T-Shirt"
                    >
                      <span class="categories-card-body-title d-block"
                        >Tees & T-Shirt</span
                      >
                      <span class="categories-card-body-text d-block"
                        >Explore Now!</span
                      >
                      <img
                        class="arrow-icon"
                        src="assets/img/arrow-right.svg"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
                <div
                  class="swiper-slide"
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                >
                  <div class="explore-categories-card">
                    <img
                      class="explore-categories-card-img"
                      src="assets/img/categories-img-01.jpg"
                      alt=""
                    />
                    <a
                      class="categories-card-body position-relative d-block"
                      href="#"
                      title="Hoodies & Sweetshirt"
                    >
                      <span class="categories-card-body-title d-block"
                        >Hoodies & Sweetshirt</span
                      >
                      <span class="categories-card-body-text d-block"
                        >Explore Now!</span
                      >
                      <img
                        class="arrow-icon"
                        src="assets/img/arrow-right.svg"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
                <div
                  class="swiper-slide"
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                >
                  <div class="explore-categories-card">
                    <img
                      class="explore-categories-card-img"
                      src="assets/img/categories-img-02.jpg"
                      alt=""
                    />
                    <a
                      class="categories-card-body position-relative d-block"
                      href="#"
                      title="Shoes & Sneakers"
                    >
                      <span class="categories-card-body-title d-block"
                        >Shoes & Sneakers</span
                      >
                      <span class="categories-card-body-text d-block"
                        >Explore Now!</span
                      >
                      <img
                        class="arrow-icon"
                        src="assets/img/arrow-right.svg"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
                <div
                  class="swiper-slide"
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                >
                  <div class="explore-categories-card">
                    <img
                      class="explore-categories-card-img"
                      src="assets/img/categories-img-03.jpg"
                      alt=""
                    />
                    <a
                      class="categories-card-body position-relative d-block"
                      href="#"
                      title="Tees & T-Shirt"
                    >
                      <span class="categories-card-body-title d-block"
                        >Tees & T-Shirt</span
                      >
                      <span class="categories-card-body-text d-block"
                        >Explore Now!</span
                      >
                      <img
                        class="arrow-icon"
                        src="assets/img/arrow-right.svg"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--  End Explore more categories-->
          
